body {
    background: repeating-linear-gradient(45deg, #008000, #008000 20px, #33cc33 20px, #33cc33 40px);
    position: cover;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin: 0 0 100px auto;
    font-family: 'Monofett', cursive;
    font-size: 7em;
    font-weight: 900;
}

@media only screen and (max-width: 450px){
    h1{
        font-size: font-size 6.5em
    }

    .card{
        width: 4em;
        height: 5.25em;
    }
}

button {
    font-family: 'Russo One', sans-serif;
    margin: 0 20px;
    width: 9em;
}

#hit-button, #stand-button {
    visibility: hidden;
}

.player, .dealer {
    visibility: hidden;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    margin: 20px auto;
}

#dealerWins, #dealerSum, #playerWins, #playerSum {
    color: white;
    opacity: 0.8;
    background-color: black;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

#message {
    visibility: hidden;
    font-family: 'Russo One', sans-serif;
    font-weight: 900;
    font-size: 2em;
}